<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Xserverにデプロイを簡単にするスクリプト的なものを作る(npm対応)</title>

</head>
<body>
<!--<div>-->
<!--<label for="url">ドメイン名(例：~/ordermade-holdings.com)</label>-->
<!--<input id="url" type="text" ng-model="url">-->
<!--</div>-->

<div>
    <label for="deploy">デプロイする場所(例：/home/xxxxxxxxxx/yyyyy.work/zzz-zzzz)</label>
    <input id="deploy" type="text" ng-model="deploy">
</div>

<div>
    <label for="app-name">ベアレポジトリ名。末尾に.gitがつくディレクトリの名前(例：zzz-zzzz)</label>
    <input id="app-name" type="text" ng-model="myname">
</div>

<div>
    <label for="ssh-name">ssh先(例：ordermade)</label>
    <input id="ssh-name" type="text" ng-model="sshName" ng-init="sshName='ordermade'">
</div>

<p>最初にgit cloneする</p>
<p style="white-space: pre-line">ディレクトリ構成は、
    target_dir
    ├ zzzzz.git(ベアレポジトリ)
    ├ zzzzz(プロジェクトのソース)
    └ public_html
    　 └ index.html
</p>
<h1>結果：</h1>
<textarea rows="15" cols="140">
#リモート
git clone --bare --shared {{deploy}} {{myname}}.git

echo '# !/bin/bash
cd {{deploy}}
git --git-dir=.git pull ../{{myname}}.git master
npm install
npm run build
' > {{myname}}.git/hooks/post-receive

chmod +x {{myname}}.git/hooks/post-receive

# ローカル
git remote set-url --add origin {{sshName}}:{{deploy}}/../{{myname}}.git
</textarea>

<h2>Permisson deniedな時は、.gitがあるディレクトリ自体の権限を追加する：</h2>

<div>
    <label for="permit-user">権限を追加するユーザー(例：sakura)</label>
    <input id="permit-user" type="text" ng-model="permitUser" ng-init="permitUser='sakura'">
</div>

<textarea rows="2" cols="140">
sudo chown -R {{permitUser}} {{deploy}}
</textarea>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="mainController.js"></script>
</body>
</html>
